<div layout="column" layout-fill>
  <img src="assets/ico/Yang_Ming_Line.svg" width="200" align="left">
  <div class="md-content" layout-padding flex>
    <div layout-gt-xs="row" class="w3-container  w3-animate-opacity" layout-align-gt-xs="center">
      <div flex-gt-xs="50" class="section">
        <md-card style="opacity:0.85;">
          <md-card-title> 
            Login
          </md-card-title>
          <md-card-subtitle>
            sign in your Yangming ILIS
          </md-card-subtitle>
          <md-card-content>
            <form>
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #userElement #userControl="ngModel" placeholder="User ID" type="text" maxlength="30" style="text-transform:uppercase" name="userid" [(ngModel)]="userid" required>
                  <span md-prefix><md-icon>person</md-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!userControl.errors?.required || userControl.pristine">Required</span>
                  </md-hint>
                  <md-hint align="end">{{userElement.value.length}} / 20</md-hint>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex>
                  <input mdInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                  <span md-prefix><md-icon>lock</md-icon></span>
                  <md-hint align="start">
                    <span [hidden]="!passControl.errors?.required || passControl.pristine">Required</span>
                  </md-hint>
                  <md-hint align="end" style="color:red;">{{error}}</md-hint>
                </md-input-container>
              </div>
              <div layout="row">
                <span md-prefix><md-icon>view_module</md-icon></span>
                <md-select placeholder="Moudle" [(ngModel)]="moudle">
                  <md-option *ngFor="let m of sysMoudles" [value]="m.code">{{m.name}} </md-option>
                </md-select>
              </div>
            </form>
          </md-card-content>
        </md-card>
        <h6 align="center" style="color:white;">Copyright © 2017 YANG MING Group. All Rights Reserved.</h6>
      </div>
    </div>
  </div>
</div>
